@charset "ISO-8859-1";

html {
    min-height:100%;
}

body {
    height:100%;
}

.underline {
	text-decoration-line: underline;
}

.outline {
	border: 2px solid black;
}

.roll-button{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.roll-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.roll-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.roll-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.btn {
  font: 14px Helvetica;
  padding: 12px 22px 10px;
  margin: 0;
  border: none;
  border-bottom: 3px #aacedd solid;
  text-decoration: none;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.btn, .btn:hover {
  color: #88a5b1;
}

.btn-small {
  font-size: 11px;
  padding: 8px 16px 6px;
}

.btn:active {
  position: relative;
  top: 3px;
  border: none;
}

.btn-info {
  border-bottom: 3px #206376 solid;
  background-image: -moz-linear-gradient(#71c1d8, #49afcd);
  background-image: -webkit-linear-gradient(#71c1d8, #49afcd);
  background-image: linear-gradient(#71c1d8, #49afcd);
}
.btn-info:hover {
  background-image: -moz-linear-gradient(#99d2e3, #49afcd);
  background-image: -webkit-linear-gradient(#99d2e3, #49afcd);
  background-image: linear-gradient(#99d2e3, #49afcd);
}

.btn-danger {
  border-bottom: 3px #88201c solid;
  background-image: -moz-linear-gradient(#e37873, #da4f49);
  background-image: -webkit-linear-gradient(#e37873, #da4f49);
  background-image: linear-gradient(#e37873, #da4f49);
}
.btn-danger:hover {
  background-image: -moz-linear-gradient(#eba19e, #da4f49);
  background-image: -webkit-linear-gradient(#eba19e, #da4f49);
  background-image: linear-gradient(#eba19e, #da4f49);
}

.gradient-custom2 {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}



